h1{
    color: red;
    font-size: 40;
    text-align: center;
}

p{
    color: darkblue;
}


.a{
    color: green;
}
.t{
    color: darkorchid;
}
.position{
    margin-left: 90px;
}
